<div class="skeleton-container">
  <div *ngFor="let item of [].constructor(count)" class="skeleton-item card-glass">
    <ion-skeleton-text animated style="width: 44px; height: 44px; border-radius: 12px;"></ion-skeleton-text>
    <div class="skeleton-info">
      <ion-skeleton-text animated style="width: 50%; height: 16px; border-radius: 4px; margin-bottom: 6px;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 30%; height: 12px; border-radius: 4px;"></ion-skeleton-text>
    </div>
    <ion-skeleton-text animated style="width: 25%; height: 18px; border-radius: 4px;"></ion-skeleton-text>
  </div>
</div>
