<div class="quick-actions-container">
  <button class="action-btn-tile tile-teal" (click)="onAction('history')">
    <div class="tile-icon">
      <ion-icon name="layers-outline"></ion-icon>
    </div>
    <span>CAMBIAR</span>
  </button>
  
  <button class="action-btn-tile tile-lime" (click)="onAction('pay')">
    <div class="tile-icon">
      <ion-icon name="card-outline"></ion-icon>
    </div>
    <span>PAGAR</span>
  </button>
  
  <button class="action-btn-tile tile-dark" (click)="onAction('add')">
    <div class="tile-icon">
      <ion-icon name="add-outline"></ion-icon>
    </div>
    <span>AÑADIR</span>
  </button>
</div>
