<div class="quick-actions-container">
  <button class="action-btn nova-glass nova-glow" (click)="onAction('pay')">
    <div class="icon-orb">
      <ion-icon name="flashlight-outline"></ion-icon>
    </div>
    <span>TRANSFER</span>
  </button>
  
  <button class="action-btn nova-glass nova-glow" (click)="onAction('add')">
    <div class="icon-orb pink">
      <ion-icon name="add-circle-outline"></ion-icon>
    </div>
    <span>UPGRADE</span>
  </button>
  
  <button class="action-btn nova-glass nova-glow" (click)="onAction('history')">
    <div class="icon-orb purple">
      <ion-icon name="bar-chart-outline"></ion-icon>
    </div>
    <span>HISTORY</span>
  </button>
</div>
